/* CSS RESET */
/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --clr-almostWhite: hsl(0, 0%, 98%);
  --clr-mediumGray: hsl(0, 0%, 41%);
  --clr-almost-black: hsl(0, 0%, 8%);

  --ff-base: "Epilogue", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
}

/* General Styles */
body,
html {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--ff-base);
  font-weight: var(--fw-500);
}

header {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 0 5rem 0;
}

picture {
  order: 1;
}

article {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  text-align: center;
}

/* Navbar Styles */
.header-left {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header-right {
  margin-left: auto;
}

.wrapper-nav {
  display: none;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  text-decoration: none;
  color: var(--clr-mediumGray);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-item:hover {
  color: var(--clr-almost-black);
  cursor: pointer;
}

.dropdown::after {
  content: url("./images/icon-arrow-down.svg");
}

.dropdown:active::after {
  content: url("./images/icon-arrow-up.svg");
}

#register {
  border: 1px solid var(--clr-almost-black);
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
}

/* Mobile Menu */
.hamburger-menu {
  cursor: pointer;
  z-index: 10;
  right: 20px;
  top: 25px;
  position: absolute;
  content: url("./images/icon-menu.svg");
}

.hamburger-menu.active {
  content: url("./images/icon-close-menu.svg");
}

/* .hamburger-menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--clr-almost-black);
  margin: 0 0 6px 0;
} */

.mobile-menu {
  width: 0%;
  min-height: 100vh;
  position: absolute;
  background-color: var(--clr-almostWhite);
  border: 1px solid var(--clr-almost-black);
  right: 0;
  top: 0;

  padding: 5rem 2rem;
  flex-direction: column;
  gap: 1rem;

  display: none;
}

.mobile-menu.active {
  width: 65%;
  display: flex;
}

.mobile-login-register {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
    list-style-position: inside;
    list-style-type: none;
}

.icon {
    height: 1.5rem;
}

#icon-todo {
  list-style-image: url("./images/icon-todo.svg");
}

#icon-calendar {
  list-style-image: url("./images/icon-calendar.svg");
}

#icon-reminder {
  list-style-image: url("./images/icon-reminder.svg");
}


/* Main Styles */
#hero-img {
  content: url("./images/image-hero-mobile.png");
  width: 100%;
}

.title {
  font-size: 2.2rem;
  font-weight: var(--fw-700);
}

.description {
  color: var(--clr-mediumGray);
}

.btn {
  background-color: var(--clr-almost-black);
  color: var(--clr-almostWhite);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
}

.wrapper-img {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.125rem;
  justify-content: space-around;
  align-items: center;
}

.client-img {
  width: 65px;
  height: 100%;
}